// Color Palette
@primaryColor: #424242; // Gray 800
@primaryVariantColor: #616161; // Gray 700
@secondaryColor: #FFEE58; // Yellow 400
@secondaryVariantColor: #FDD835; // Yellow 600
@fontColor: rgb(33, 33, 33);

// Reset Browser Style
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

// Material Shadows
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.4s;
}

.ripple:hover {
  background: rgba(124, 124, 124, 0.15) radial-gradient(circle, transparent 1%, rgba(124, 124, 124, 0.15) 1%) center/15000%;
}

.ripple:active {
  background-color: rgba(66, 66, 66, 0.25);
  background-size: 100%;
  transition: background 0s;
}

// Basic Text-Elements
h1, h2, h3, h4, h5, a {
  line-height: 20px;
  margin: 0 0 8px;
  font-weight: 400;
}

// Links
a, button {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  padding: 12px 18px;
  height: 48px;
  font-size: 16px;
  outline: none;
  color: @secondaryVariantColor;
  cursor: pointer;

  &.primary {
    color: @primaryColor;
  }
}

// Header-Bar
.header {
  .shadow-2();

  width: 100%;
  margin: 0 0 16px;
  padding: 16px 20px 12px;
  background-color: @primaryVariantColor;

  .thumbnail {
    height: 48px;
  }
}

// Sticky Bottom Nav-Bar
.navbar-bottom {

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background-color: @secondaryVariantColor;
  height: 48px;
  padding: 0 16px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      height: 24px;

      a {
        vertical-align: middle;
        padding: 12px 12px;
      }
    }
  }

  &.error {
    background-color: #F44336;
  }

  .footer-notifier {
    padding: 16px;
    position: absolute;
    right: 0;
  }
}

form {
  .form-group {
    margin-bottom: 16px;
  }
}

// Page Content
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 280px);
  grid-gap: 8px;
  padding: 0 8px;
  user-select: none;
}

// Material Card
.card {
  height: auto;
  padding: 0;
  position: relative;
  grid-area: span 1/span 2;
  grid-auto-flow: row dense;

  transition: transform .2s ease-out;


  &:hover {
    cursor: move;
  }

  &.card--full {
    grid-area: span 1/span 4;
  }

  &.card--half {
    grid-area: span 1/span 1;
  }

  .card-content {
    width: auto;
    height: 100%;
    border-radius: 3px;
    border: 1px transparent solid;
    padding: 16px 20px 12px;

    .shadow-1();

    &:hover {
      .shadow-2();
    }

    .thumbnail {

    }

    .header-text {
      font-size: inherit;
      color: #202124;
      font-weight: 500;
    }

    .subhead {

    }

    .media {
      margin: 0 0 16px;

      .svg-plot, .canvas-plot {
        position: absolute;
      }
    }

    .supporting-text {

    }

    .buttons {

    }

    .icons {

    }
  }
}

.overlay--container {
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: opacity .4s ease-in-out;

  &.overlay--visible {
    display: block;
    opacity: 1;
  }

  .overlay {
    position: relative;
    margin: 64px auto 0;
    background-color: white;
    height: auto;
    width: 720px;
    border: 1px transparent solid;

    .overlay--header {
      border-bottom: 1px solid black;
      padding: 16px 20px 12px;
    }

    .overlay--body {
      padding: 16px 20px 12px;
    }
  }
}

.dragging {
  opacity: .4;
  transform: scale(.95);
}

.insert-border-left {
  border-left: 4px solid black;
}

.insert-border-right {
  border-right: 4px solid black;
}

.dragover .card-content {
  border: 1px dashed grey;
}

.nav-icons {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  cursor: pointer;
}


.input {
  position: relative;
  margin-bottom: 12px;

  input, select {
    font-size: 18px;
    padding: 8px 8px 8px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;

    &:focus {
      outline: none;
    }

    &.has-content ~ label, &:focus ~ label {
      top: -8px;
      font-size: 14px;
      color: @primaryColor;
    }

    &:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }

    &:focus ~ .bar:before, &:focus ~ .bar:after {
      width: 50%;
    }
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    margin-bottom: 1px;
    margin-top: 24px;

    &:focus ~ label, &:valid ~ label {
      color: @primaryColor;
      top: -8px;
      transition: 0.2s ease all;
      font-size: 14px;
    }
  }

  &.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
  }

  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: @primaryColor;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}

ul.list {
  margin: 0;
  padding: 4px;
  list-style-type: none;

  li {
    max-width: 250px;
    position: relative;
    padding: 4px;

    &:hover {
      background-color: #ddd;
    }

    .data-type--delete {
      position: absolute;
      right: 0;
    }
  }
}

.data-type--delete {
  cursor: pointer;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: @primaryColor;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: @primaryColor;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: @primaryColor;
  }
  to {
    width: 0;
    background: transparent;
  }
}

